<div >
  <mat-toolbar color="primary">
    <h1> LocalCast Weather </h1>
  </mat-toolbar>

  <div class="mat-caption" style="text-align: center">Your city, your forecast, right now!</div>
  <div style="text-align: center">
    <app-city-search></app-city-search>
  </div>
  <div class="grid-container">

    <div class="box-1">
      <mat-card>
        <mat-card-header>
          <div class="mat-headline">Current Weather</div>
        </mat-card-header>
        <mat-card-content>
          <app-current-weather></app-current-weather>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>
